@charset "UFT-8";

* {
	padding: 0px;
	margin: 0px;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../imagens/fundo-madeira.jpg');
	background-size: 100% 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

div#celular {
	background: url('../imagens/frame-iphone.png');
	padding: 5px;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	height: 627px;
	width: 311px
}

div#container_fundo {	
	height: 800px;
	width: 500px;
	transform: scale(0.69, 0.69);
	transform-origin: 55px 251px;
}

iframe{
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.tela_outras {
	background-size: cover;

}

#menu {
	position: absolute;
	background-size: 100% 100%;		
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}


a {
	margin: 10px 15px 10px 40px; 	
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 2px 2px 4px black;
	transform: scale(1);
	transition: 0.5s, border 1s;
}

img:hover {	
	transform: scale(1.2);
	transition: 0.5s;
	transform-origin: 1px;
	box-shadow: 2px 2px 4px white;
}

